.button {
  padding: 15px 35px;
  position: relative;
  background-color: var(--color-accent-transparent);
  border: 1px solid var(--color-accent-transparent);
  color: var(--color-accent);
  text-align: center;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: small;
  text-transform: uppercase;
  outline: none;
  cursor: url("/images/Cuberpunk-Cursor/link.cur");
}

.button span {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  cursor: url("/images/Cuberpunk-Cursor/link.cur") !important;
}

.button:first-of-type {
  margin-left: 0px;
}

.button:last-of-type {
  margin-right: 0px;
}

.button:hover {
  position: relative;
  border: 1px solid transparent;
  background-color: var(--color-accent);
  color: var(--color-text);
  animation: 0.07s flicker;
  animation-iteration-count: 2;
  transition: all 0.35s cubic-bezier(0.75, 0, 0.25, 1);
}

.decorator {
  position: absolute;
  width: 10px;
  height: 10px;
  border: 1px solid transparent;
  animation: 0.1s flicker;
  animation-iteration-count: 3;
  transition: all 0.35s cubic-bezier(0.75, 0, 0.25, 1);
}

.decorator.top {
  top: -1px;
  border-top: 1px solid var(--color-accent);
}

.decorator.bottom {
  bottom: -1px;
  border-bottom: 1px solid var(--color-accent);
}

.decorator.left {
  left: -1px;
  border-left: 1px solid var(--color-accent);
}

.decorator.right {
  right: -1px;
  border-right: 1px solid var(--color-accent);
}

.button:hover .decorator.top {
  top: -16px;
  border-top: 1px solid var(--color-accent);
}

.button:hover .decorator.bottom {
  bottom: -16px;
  border-bottom: 1px solid var(--color-accent);
}

.button:hover .decorator.left {
  left: -16px;
  border-left: 1px solid var(--color-accent);
}

.button:hover .decorator.right {
  right: -16px;
  border-right: 1px solid var(--color-accent);
}

@keyframes flicker {
  0%,
  50% {
    opacity: 0;
  }

  51%,
  100% {
    opacity: 1;
  }
}
